.input {
  display: flex;
  align-items: center;
  position: relative;
  width: 75%;
}

.input-box {
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
}

.input-box:focus {
  box-shadow: 0 0 10px 100vh rgba(0, 0, 0, 0.5);
  transition: 0.1s;
}

.input-submit {
  background: royalblue;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 0.5rem black;
  color: white;
  padding: 0.75rem;
  position: absolute;
  right: 1rem;
  transition: all 0.2s;
}

.input-submit:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.input-submit:active {
  box-shadow: 0 0 0.25rem black;
  transform: scale(0.8);
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.25rem;
  width: 80%;
}

.todo-single {
  background-color: yellow;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 20px;
  width: 45%;
  max-width: 500px;
}

@media (max-width: 1000px) {
  .todo-single {
    width: 90%;
  }
}

.todo-single:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.todo-single-text {
  background-color: yellow;
  border: none;
  font-size: 1rem;
  overflow: wrap;
  outline: none;
  width: 100%;
}

.highlightTodo {
  background-color: goldenrod;
}

.icons {
  display: flex;
}

.icon {
  font-size: 1.5rem;
  padding: 10px;
}
